NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_PWA_THEME_COLOR=
NEXT_PUBLIC_PWA_BACKGROUND_COLOR=

# ENS subdomain registration (get key at https://dev.namespace.ninja)
NAMESPACE_API_KEY=
